<main class="container__articles">
  <section class="articles__main">
    <app-big-card
      *ngFor="let article of articles.slice(0, 1)"
      [newsId]="article.id"
      [photoCover]="article.photo"
      [photoAlt]="article.photoTitle"
      [cardTitle]="article.articleTitle"
      [cardDescription]="article.articleDescription"
    ></app-big-card>
  </section>
  <section class="articles__others">
    <app-small-card
      *ngFor="let article of articles.slice(1, 4); let i = index"
      [newsId]="article.id"
      [photoCover]="article.photo"
      [photoAlt]="article.photoTitle"
      [smallCardTitle]="article.articleTitle"
      [smallCardDescription]="article.articleDescription"
      [isLast]="isFirstListLastIndex(i)"
      [isMobile]="isMobile"
    ></app-small-card>
  </section>
</main>
<hr class="home__separator" />
<section class="articles__more-news">
  <section class="articles__more-news">
    <app-small-card
      *ngFor="let article of articles.slice(4, 12); let i = index"
      [newsId]="article.id"
      [photoCover]="article.photo"
      [photoAlt]="article.photoTitle"
      [smallCardTitle]="article.articleTitle"
      [smallCardDescription]="article.articleDescription"
      [isLast]="isLastIndex(i)"
      [isMobile]="isMobile"
    ></app-small-card>
  </section>
</section>
