@media screen and (max-width: 768px) {
  .container__articles {
    grid-template-columns: auto;
    align-items: center;
  }

  .articles__others {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
  }

  .articles__more-news {
    display: grid;
    grid-template-columns: auto;
    gap: 1.125rem;
    margin-bottom: 1.875rem;
  }
}
